.navbarMainSection {
    background-color: #FFFFFF;
    /* background-color: #174A81; */
    /* background-color: #EF4815; */
    /* padding: 10px; */
}

.textColor{
    color: #7D6666;
    font-weight: 520;
    
}
.textColorLogo{
    color: #174A81;
    font-weight:660;
    font-size:large
}
/* .textColorLogo:hover{
    color: #174A81;
    font-weight:660;
    font-size:large
} */