.mainSection{
    /* background-color: rgba(0, 0, 0, 1); */
    background-color: #174A81;
    /* min-height: 40vh; */
    color: white;
    /* margin-bottom: -50px; */
}

.tempCss2{
    background-color: rgba(52, 49, 49, 0.1)
}
.fontWeight{
    font-weight: 640;
}

